
.basic{
  padding: 5rem 0; 
 
}
 
 form {
   background: white;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   margin: 0 auto;
   max-width: 500px;
   padding: 15px 50px;
  
 }

 input {
   border: 1px solid #d9d9d9;
   border-radius: 4px;
   box-sizing: border-box;
   padding: 10px;
   width: 100%;
 }

 label {
   color: #222;
   display: block;
   font-size: 14px;
   font-weight: 500;
   margin-bottom: 5px;
 }

 .error {
   color: red;
   font-size: 12px;
   height: 30px;
 }

 .btn-primaryContinueDiv{
  display: flex;
  width: 600px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 25px auto;
 }
 .btn-primaryContinuee {
  display: inline-block; 
 text-align: center;
 text-decoration: none;
 letter-spacing: var(--mainSpacing);
 color: var(--mainBlack);
 background: var(--primaryColor);
 padding: 0.4rem 0.9rem;
 border: 3px solid var(--primaryColor);
 transition: var(--mainTransition);
 text-transform: uppercase;
 cursor: pointer;
 width: 200px;
 margin-left: 5px;
 margin-right: 5px;
 justify-content: center;
 
}
.btn-primaryContinuee:hover {
 background: transparent;
 color: var(--primaryColor);
}
